<ion-view view-title="Settings">
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Пошук" ng-model="searchText" name="searchText">
            </label>
        </div>

        <ion-list>
            <ion-item ng-repeat="(key, value) in routes | filter:searchText as results">
                <ion-radio ng-if="value.Code" ng-value="value.Code" ng-change="setBusRoute(value.Code)" ng-model="routes[key].selectedRoute">
                    {{value.Name}}
                </ion-radio>
                <strong ng-if="!value.Code">
                    {{value.Name}}
                </strong>
            </ion-item>

            <ion-item ng-if="results.length == 0">
                <strong>Пусто...</strong>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
