<ion-view view-title="Dashboard">
  <ion-content class="padding">
<!--    <p ng-repeat="item in items">
        {{item.Angle}} <br>
        {{item.EndPoint}} <br>
        {{item.IterationEnd}} <br>
        {{item.IterationStart}} <br>
        {{item.RouteCode}} <br>
        {{item.RouteId}} <br>
        {{item.RouteName}} <br>
        {{item.StartPoint}} <br>
        {{item.State}} <br>
        {{item.TimeToPoint}} <br>
        {{item.VehicleId}} <br>
        {{item.VehicleName}} <br>
        {{item.X}} <br>
        {{item.Y}} <br>
    </p>
-->
      <div id="map_canvas"></div>

  </ion-content>
</ion-view>


